/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: 10px;
}
input[type="text"] {
  outline: none;
  box-shadow: 0 0 5px #888888;
  width: 50%;
  height: 40px;
} */
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}
